{:source-paths ["src"]

 :dependencies [[reagent "1.2.0"]
                [cider/cider-nrepl "0.58.0"]]

 :npm-deps true

 :dev-http {8020 "public"}

 :nrepl {:port 9000
         :middleware [cider.nrepl/cider-middleware]}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :compiler-options {:optimizations :none
                           :source-map true
                           :source-map-path "public/js/out/cljs.map"}
        :modules {:main {:init-fn inscrypion.core/init}}
        :devtools {:after-load inscrypion.core/reload}}}}
